{% extends "base.html" %}
{% block head %}
<title>Add Promocode </title>
<link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}} />
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
</script>
{% endblock %}
{% block content %}
<div id="addpromodiv">
<form class="form-horizontal" action="/addPromo" method="POST" onsubmit="return validate()">
    <div class="form-group">
        <label class="col-sm-2 control-label">Promo name</label>
			<div class="col-sm-4">
                <input type="promoname" class="form-control" name="promoname" required></p>
            </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Discount</label>
            <div class="col-sm-4">
                <input type="text" name="discount" id="discount" required></p>

            </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Effective date</label>
            <div class="col-sm-4">
                <input type="text" name="effect_date" id="effect_date" required></p>
            </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Expiry date</label>
            <div class="col-sm-4">
                 <input type="text" name="expiry_date" id="expiry_date" required></p>
            </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"> Minimum order</label>
            <div class="col-sm-4">
                <input type="text" name="min_order" id="min_order" required></p>
            </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">CategoryId</label>
            <div class="col-sm-4">
                <input type="text" name="categoryId" id="categoryId" required></p>
            </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Submit</label>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-info" value="Add Promo"></p>
            </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
            <div class="col-sm-4" >
                <a class="btn btn-primary inline" href="/root">Home</a>
                <a class="btn btn-success inline"  href="/cart">Go to Cart</a>
            </div>
    </div>
</form>
</div>
{% endblock %}


