{% extends "base.html" %}
{% block content %}
<div class="row">
	{% for data in itemData %}
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{data[1]}}</h3>
			</div>
			<div class="panel-body">
				<a href="/productDescription?productId={{data[0]}}">
					<img class="center-block" src={{ url_for( 'static', filename='uploads/' + data[4]) }} width=300 height=300 id="itemImage" />
				</a>
			</div>
			<div class="panel-footer"><strong>${{data[2]}}</strong></div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

