{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="row">
			<p> {{error}} </p>
			<form class="form-horizontal"  action="/login" method="POST">
				<div class="form-group">
					<label class="col-sm-2 control-label">Email</label>
					<div class="col-sm-8">
						<input type="email" class="form-control" name="email" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Password</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-8">
						<button type="submit" class="btn btn-default">Sign in</button>
						<a href="/registerationForm" class="btn btn-default">Register</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>
{% endblock %}
