{% extends "base.html" %}
{% block head %}
<title>Product Description</title>
<link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/productDescription.css')}} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css')}} />
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}">
</script>
{% endblock %}
{% block content %}
<div>
<div class="panel panel-default inline col-sm-4" style="width: 500px">
<div class="panel-heading" style="background-color: white;">
	<div id="display">
	<div id="productName">
		<h3 class="panel-title">{{data[1]}}</h3>
	</div>
	<div>
</div>
	<!-- panel heading 		-->
	<div class="panel-body">
		<img src={{url_for('static', filename='uploads/'+data[4]) }} id="productImage"/>
	</div>
	<div class="panel-footer">
	<div id="productDescription">
		<h3>Details</h3>
		<table id="descriptionTable">
			<tr>
				<td>Name</td>
				<td>{{data[1]}}</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>${{data[2]}}</td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>{{data[5]}}</td>
			</tr>
		</table>
		<h3>Description</h3>
		<p>{{data[3]}}</p>
	</div>
	<div >
		<input type="checkbox" name="offer">No shipping cost if opted for 5 day delivery</input><br><br>


	<div id="addToCart" style="display: inline-block;">
		<a href="/addToCart?productId={{request.args.get('productId')}}" class="btn btn-lg btn-success">Add to Cart</a>
	</div>
	<div id="addToWishlist" style="display: inline-block;">
		<button class="btn btn-lg btn-info" data-toggle="modal" data-target="#setPriceModal">Add to Wishlist</button>
	</div>
	</div>
	</div>
</div>
</div>
</div>
	<p class="alert alert-warning" style="text-align: center;">Check out the price comparisions and set your own price</p>
	<div class="panel panel-success inline col-sm-4" style="width :800px;">
		<div class="panel-heading" style="background-color: white;">
		<h3 class="panel-title">Price range</h3>
		</div>
		<div class="panel-body">
		<div class="table-responsive">
		<table align="center" class="table table-hover table-striped">
		{% set compareprices=[['Company1', '400$', '4 days' ],['Company2', '500$', '4 Days' ],['Company3', '350$', '8 Days' ],['Company4', '320$', '6 Days']] %}
        {% set names =['Company', 'Product Price(Dollars)', 'Delivery Time' ] %}
        {% for name in names %}
        <th>
            <h5>{{name}}</h5>
        </th>
        {% endfor %}
        {% for otherprice in compareprices %}
        <tr>
        {% for each in otherprice %}
            <td>{{each}}<br></td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
	<button class="btn btn-lg btn-danger" align="center" data-toggle="modal" data-target="#setPriceModal">Set Price</button>

	</div>
	</div>
	</div>



</div>


<!--set price modal-->
<div class="modal_div">
<div class="modal fade" id="setPriceModal" tabindex="-1" role="dialog" aria-labelledby="setPriceModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="setPriceModalLabel">Set your price</h4>
                <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
			  <form action="/addToWishlist"  method="POST" >
              <div class="modal-body">
				  <p ><input type="text" class="hidden" name="productId" value="{{request.args.get('productId')}}"/></p>
				  <p>My price for this product is <input type="text" class="input-sm numonlycheck" name="myPrice"> Dollars</input></p>

			  </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                <input type="submit" class="btn btn-danger submitBtn" value="Set Price"/>

              </div>
			  </form>
            </div>
          </div>
      </div>
</div>
{% endblock %}

