{% extends "base.html" %}
{% block head %}
<title>Add Promocode </title>
<link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}} />
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
</script>
{% endblock %}

{% block content %}

{% if promocodes %}
<div class="table-responsive">
    <table align="center" class="table table-hover">

        {% set names =['PromoId', 'Name', 'Discount','Effective date', 'Expiry date', 'Minimum Order', 'CategoryId' ] %}
        {% for name in names %}
        <th>
            <h5>{{name}}</h5>
        </th>
        {% endfor %}
        {% for promo in promocodes %}
        <tr>
        {% for each in promo %}
            <td>{{each}}<br></td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endif %}
</div>
{% endblock %}



