{% extends "base.html" %}
{% block head %}
<title>Your Cart</title>
<link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.min.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/cart.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}">
</script>
{% endblock %}
{% block content %}
<!---->
<div id="wishlistItems">
	<h2>Wishlist</h2>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr id="seperator">
			<div id="itemImage">
				<img src={{url_for('static', filename='uploads/'+row[3])}} id="image"/>
			</div>
			<div id="itemName">
				<span id="itemNameTag">{{row[1]}}</span><br>
				In stock<br>
				<a class="btn btn-danger" href="/removeFromWishlist?productId={{row[0]}}">Remove</a>
			</div>
			<div id="wishlistItemPrice">
				<br><br>
				Real Price : ${{row[2]}} <br>
				Set Price : ${{row[4]}}
			</div>

			<div id="moveToCart">
				<a class="btn btn-info" href="/moveToCart?productId={{row[0]}}">Add to Cart</a>
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
	</div>
</div>
{% endblock %}

